[submodule "StarInAJarSonoluminescense"]
	path = StarInAJarSonoluminescense
	url = /Users/davidrug/DemoVault/StarInAJarSonoluminescense
[submodule "RanqueHilschVortexTube"]
	path = RanqueHilschVortexTube
	url = /Users/davidrug/DemoVault/RanqueHilschVortexTube
[submodule "PlasmoidUnificationModel"]
	path = PlasmoidUnificationModel
	url = /Users/davidrug/DemoVault/PlasmoidUnificationModel
[submodule "Thunderstorm-Generator-UPDATED-COMPLETE-DIY-BUILD-"]
	path = Thunderstorm-Generator-UPDATED-COMPLETE-DIY-BUILD-
	url = /Users/davidrug/DemoVault/Thunderstorm-Generator-UPDATED-COMPLETE-DIY-BUILD-
