[submodule "StarInAJarSonoluminescense"]
	path = StarInAJarSonoluminescense
	url = https://github.com/ProjectLiminality/starinajarsonoluminescense.git
[submodule "RanqueHilschVortexTube"]
	path = RanqueHilschVortexTube
	url = https://github.com/ProjectLiminality/ranquehilschvortextube.git
[submodule "PlasmoidUnificationModel"]
	path = PlasmoidUnificationModel
	url = https://github.com/ProjectLiminality/plasmoidunificationmodel.git
[submodule "Thunderstorm-Generator-UPDATED-COMPLETE-DIY-BUILD-"]
	path = Thunderstorm-Generator-UPDATED-COMPLETE-DIY-BUILD-
	url = https://github.com/ProjectLiminality/thunderstorm-generator-updated-complete-diy-build.git
